/* Start Variables */
:root {
  --right-left-padding: 60px;
  --up-down-padding: 20px;

  --maincolor: #19c8fa;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 280px) {
  .sech {
    font-size: 65px;
  }
  .secp {
    font-size: 15px;
    margin-top: -15px;
    letter-spacing: -1px;
  }
}
@media (min-width: 281px) and (max-width: 767px) {
  .sech {
    font-size: 85px;
  }
  .secp {
    font-size: 20px;
    margin-top: -20px;
    letter-spacing: -1px;
  }
}
/* End Global Rules */

/* Start Nav */
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.head .container {
  display: flex;
  justify-content: space-between;
  background-color: #1f2021;
}
.head .container .logo span {
  font-size: 62px;
}
.head .container .logo {
  display: flex;
}
.head .container .logo img {
  height: 40px;
}
.head .container .list {
  display: flex;
  justify-content: space-between;
}
.head .container .list ul {
  display: flex;
}
.head .container .list ul li {
  margin: 0 10px;
  list-style: none;
}
.head .container .list ul li .active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.head .container .list li a {
  text-decoration: none;
  color: white;
}

.head .container .list ul li a:hover {
  color: var(--maincolor);
}
.head .container .list ul li a::after {
  border-bottom: 2px solid var(--maincolor);
}
hr {
  height: 10px;
  background-color: green;
}
/* End Nav */
/* Start Landing */

.land {
  display: flex;
  background-image: url(/Kasper/images/landing.jpg);
  min-height: 100vh;
  background-size: cover;
  background-color: #1f2021;
  position: relative;
}

/* End Landing */
