/* Start Variables */
:root {
  --right-left-padding: 60px;
  --up-down-padding: 20px;

  --maincolor: #10cab7;
  --Sectioncolor: #f6f6f6;
  --theme-color: #10cab7;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 280px) {
  .sech {
    font-size: 65px;
  }
  .secp {
    font-size: 15px;
    margin-top: -15px;
    letter-spacing: -1px;
  }
}
@media (min-width: 281px) and (max-width: 767px) {
  .sech {
    font-size: 85px;
  }
  .secp {
    font-size: 20px;
    margin-top: -20px;
    letter-spacing: -1px;
  }
}
/* End Global Rules */

/* Start header */
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.head .container {
  display: flex;
  justify-content: space-between;
}
.head .container .logo span {
  font-size: 62px;
}
.head .container .logo img {
  height: 40px;
}
.head .container .list {
  display: flex;
  justify-content: space-between;
}
.head .container .list p {
  margin: 0 10px;
}
.head .container .list div {
  border-left: solid black 2px;
}
.head .container ul li {
  list-style: ;
}
/* End header */

.land {
  background-image: url(/Project-No.1/Kasper/images/landing.jpg);
  height: 100vh;
  width: 100vw;
}
