/* Start Variables */
:root {
  --right-left-padding: 60px;
  --up-down-padding: 20px;
  --maincolor: #19c8fa;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 35px;
}
.intro h2 {
  font-size: 40px;
  padding: 60px 0 10px;
  margin: auto;
  font-weight: 400;
}
.hr {
  position: relative;
  display: flex;
  justify-content: center;
}
.hr hr {
  width: 120px;
  border-bottom: 1px solid;
}
hr:nth-of-type(2) {
  width: 15px;
  height: 15px;
  border: 2px solid black;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  top: -9.5px;
}
.intro p {
  padding: 60px 0;
  max-width: 60%;
  line-height: 2;
  color: #777;
}
/* End Global Rules */

/* Start Nav */
.head {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  z-index: 999;
  width: 100%;
}
@media (max-width: 768px) {
  .head {
    padding: 25px 10px;
  }
}

.head .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.head .container .logo span {
  font-size: 62px;
}
.head .container .logo {
  display: flex;
}
.head .container .logo img {
  height: 40px;
}
.head .container .list {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -60px;
}
.head .container .list ul li {
  margin: 0 10px;
  list-style: none;
}
@media (max-width: 768px) {
  .head .container .list ul li {
    margin-bottom: 15px;
  }
}
.head .container .list ul li::after {
  content: "";
  border-bottom: 4px solid var(--maincolor);
}
.head .container .list li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.head .container .list ul li.active a,
.head .container .list ul li a:hover {
  color: var(--maincolor);
  padding-bottom: 20px;
  border-bottom: 2px solid var(--maincolor);
}
@media (max-width: 768px) {
  .head .container .list ul li.active a,
  .head .container .list ul li a:hover {
    border-bottom: none;
  }
  .head .container .list ul li.active {
    margin-top: 10px;
  }
  .head .container .list ul li.active,
  .head .container .list ul li:hover {
    border-bottom: 1px solid var(--maincolor);
    padding-bottom: 10px;
  }
}
.head .container .list ul {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .head .container .list {
    position: absolute;
    top: 92%;
    left: 0;
  }
  .head .container .list ul {
    display: none;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(0 0 0 / 35%);
  }
  .head .container .iconf:hover ~ .list ul {
    display: flex;
  }
  .head .container .list ul li {
    width: 100%;
    padding-left: 25px;
    padding-bottom: 11px;
    text-align: start;
  }
  .head .container .list ul li::after {
    content: "";
    border-bottom: none;
  }
}

.head .iconf,
.head .icon {
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(100vw - 90px);
  font-size: 25px;
}
.head .iconf {
  left: calc(100vw - 115px);
}
.head .icon hr {
  height: 25px;
  margin: 0 10px;
}
@media (min-width: 769px) {
  .head .iconf {
    display: none;
  }
}

.head .container .list > hr {
  height: 30px;
  position: relative;
  left: -10px;
  top: 10px;
}
.head > hr {
  position: absolute;
  width: calc(100% - 50px);
  top: 80px;
  left: 25px;
  z-index: -1;
}

/* End Nav */
/* Start Landing */

.land {
  min-height: 100vh;
  background-image: url(/Kasper/images/landing.jpg);
  background-size: cover;
  background-color: #1f2021;
  position: relative;
}
.land .layer {
  min-height: 100vh;
  background-color: rgb(0 0 0 / 60%);
}
.land .text {
  position: absolute;
  width: 60%;
  padding: 50px;
  background-color: rgb(15 116 143 / 70%);
  top: 50%;
  left: 0;
  transform: translatey(-50%);
}
@media (min-width: 768px) {
  .land .text {
  }
}
@media (max-width: 768px) {
  .land .text {
    margin-top: 35%;
    min-width: 100%;
    top: 25%;
  }
}
.land .text h2,
.land .text p {
  text-align: start;
  color: white;
}
.land .text h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
}
.land .text p {
  font-size: 14px;
  line-height: 1.5;
}
.land i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.land i.left {
  left: 10px;
}
.land i.right {
  right: 20px;
}
.land ul {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
.land ul li {
  list-style: none;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 100%;
  margin-left: 10px;
}
.land ul li.active {
  background-color: var(--maincolor);
}
@media (max-width: 769px) {
  .land i {
    display: none;
  }
}

/* End Landing */
/* Start Services */

.services .container .servbox {
  display: flex;
  min-width: 100%;
  flex-wrap: wrap;
}
.services .container .serv {
  position: relative;
  display: flex;
  margin: 20px;
  width: 45%;
}
@media (max-width: 991px) {
  .services .container .serv {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .services .container .serv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.services .container .servbox .serv .servtext {
  margin-left: 15px;
  line-height: 1.5;
}
.services .container .servbox .serv .servtext h3,
.services .container .servbox .serv .servtext p {
  text-align: start;
}
.services .container .servbox .serv .servtext h3 {
  color: var(--maincolor);
  margin-bottom: 30px;
}
.services .container .servbox .serv .servtext p {
  color: #777;
}
@media (max-width: 768px) {
  .services .container .servbox .serv .servtext h3,
  .services .container .servbox .serv .servtext p {
    text-align: center;
    line-height: 2;
  }
  .services .container .servbox .serv .servtext h3 {
    margin: 15px 0;
  }
}
.services .servimg {
  display: flex;
  align-items: center;
  height: 600px;
  margin: 100px 0;
  min-width: 289px;
  background-image: url(/Kasper/images/design-features.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.services .servimg::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 55%);
  position: absolute;
}

.services .servimg .imgtext,
.services .servimg .mob {
  width: 50%;
  text-align: center;
  position: relative;
}
.services .servimg .mob img {
  position: relative;
  bottom: -150px;
  margin: 20px 0;
}
@media (max-width: 768px) {
  .services .servimg .mob img {
    display: none;
  }
}
.services .servimg .imgtext {
  width: 50%;
  padding: 50px;
  position: absolute;
  background-color: rgb(15 116 143 / 70%);
  top: 117px;
  right: -1%;
}
@media (max-width: 768px) {
  .services .servimg .imgtext {
    width: 100%;
  }
}
.services .servimg .imgtext h2,
.services .servimg .imgtext ul li {
  text-align: start;
  color: white;
  line-height: 3;
}

.services .servimg .imgtext h2 {
  padding-bottom: 10px;
}
.services .servimg .imgtext ul li {
  list-style: none;
}
.services .servimg .imgtext ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 15px;
  position: relative;
  top: 1px;
}

/* End Services */
/* Start Portfolio */
.portfolio .port ul {
  display: flex;
  position: relative;
}
.portfolio .port ul li {
  list-style: none;
  flex-direction: row;
  padding: 10px;
}
.portfolio .port ul li:first-child {
  background-color: var(--maincolor);
  color: white;
}
.portfolio .gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.portfolio .gallery .imgbox {
  overflow: hidden;
  position: relative;
  flex-basis: 25%;
}
.portfolio .gallery .imgbox img {
  max-width: 100%;
  transition: 0.3s;
}

@media (max-width: 1199px) {
  .portfolio .gallery .imgbox {
    flex-basis: 50%;
  }
}
@media (max-width: 767px) {
  .portfolio .gallery .imgbox {
    flex-basis: 100%;
  }
}
.portfolio .gallery .imgbox .imgtxt {
  height: 35%;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
  display: none;
}
.portfolio .gallery .imgbox .imgtxt h4 {
  margin: 10px;
}
.portfolio .gallery .imgbox .imgtxt p {
  color: var(--maincolor);
}
.portfolio .gallery .imgbox:hover img {
  transform: rotate(5deg) scale(120%);
}
.portfolio .gallery .imgbox:hover .imgtxt {
  display: block;
}
/* End Portfolio */
